header{
  background-color: rgb(236,111,117);
  padding: 10px 0px;
  .headerRow{
    .logo{
      padding: 0px;
      margin: 0px;
      font-size: 30px;
      color: rgb(255, 255, 255);
      display: flex;
      align-items: center;
    }
    .aboutBtn{
      padding: 7px 0px 0px 0px;
      margin: 0px;
      color: rgb(255, 255, 255);
      font-size: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .refreshIcon{
      padding: 7px 0px 0px 0px;
      margin: 0px;
      color: rgb(255, 255, 255);
      font-size: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .styleIcon{
      padding: 7px 0px 0px 0px;
      margin: 0px;
      color: rgb(255, 255, 255);
      font-size: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}



/*Media screen*/
@media screen and (min-width: 1400px) and (max-width: 6000px) {
  header{
    .headerRow{
      .logo{
        width: 1120px;
      }
      .aboutBtn{
        width: 100px;
      }
      .refreshIcon{
        width: 50px; 
      }
      .styleIcon{
        width: 50px;
      }
    }
  }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  header{
    .headerRow{
      .logo{
        width: 940px;
      }
      .aboutBtn{
        width: 100px;
      }
      .refreshIcon{
        width: 50px; 
      }
      .styleIcon{
        width: 50px;
      }
    }
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  header{
    .headerRow{
      .logo{
        width: 760px;
      }
      .aboutBtn{
        width: 100px;
      }
      .refreshIcon{
        width: 50px; 
      }
      .styleIcon{
        width: 50px;
      }
    }
  }
}

@media screen and (min-width: 767px) and (max-width: 992px) {
  header{
    .headerRow{
      .logo{
        width: 520px;
      }
      .aboutBtn{
        width: 100px;
      }
      .refreshIcon{
        width: 50px; 
      }
      .styleIcon{
        width: 50px;
      }
    }
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  header{
    .headerRow{
      .logo{
        width: 340px;
      }
      .aboutBtn{
        width: 100px;
      }
      .refreshIcon{
        width: 50px; 
      }
      .styleIcon{
        width: 50px;
      }
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 576px) {
  header{
    padding-left: 10px;
    padding-right: 10px;
    .headerRow{
      .logo{
        width: 60%;
        font-size: 25px;
      }
      .aboutBtn{
        width: 20%;
        padding-top: 7px;
        font-size: 16px;
      }
      .refreshIcon{
        width: 10%; 
        padding-top: 7px;
        font-size: 16px;
      }
      .styleIcon{
        width: 10%;
        padding-top: 7px;
        font-size: 16px;
      }
    }
  }
}

