header {
  background-color: #ec6f75;
  padding: 10px 0px;
}

header .headerRow .logo {
  padding: 0px;
  margin: 0px;
  font-size: 30px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .headerRow .aboutBtn {
  padding: 7px 0px 0px 0px;
  margin: 0px;
  color: white;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .headerRow .refreshIcon {
  padding: 7px 0px 0px 0px;
  margin: 0px;
  color: white;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .headerRow .styleIcon {
  padding: 7px 0px 0px 0px;
  margin: 0px;
  color: white;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*Media screen*/
@media screen and (min-width: 1400px) and (max-width: 6000px) {
  header .headerRow .logo {
    width: 1120px;
  }
  header .headerRow .aboutBtn {
    width: 100px;
  }
  header .headerRow .refreshIcon {
    width: 50px;
  }
  header .headerRow .styleIcon {
    width: 50px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  header .headerRow .logo {
    width: 940px;
  }
  header .headerRow .aboutBtn {
    width: 100px;
  }
  header .headerRow .refreshIcon {
    width: 50px;
  }
  header .headerRow .styleIcon {
    width: 50px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  header .headerRow .logo {
    width: 760px;
  }
  header .headerRow .aboutBtn {
    width: 100px;
  }
  header .headerRow .refreshIcon {
    width: 50px;
  }
  header .headerRow .styleIcon {
    width: 50px;
  }
}

@media screen and (min-width: 767px) and (max-width: 992px) {
  header .headerRow .logo {
    width: 520px;
  }
  header .headerRow .aboutBtn {
    width: 100px;
  }
  header .headerRow .refreshIcon {
    width: 50px;
  }
  header .headerRow .styleIcon {
    width: 50px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  header .headerRow .logo {
    width: 340px;
  }
  header .headerRow .aboutBtn {
    width: 100px;
  }
  header .headerRow .refreshIcon {
    width: 50px;
  }
  header .headerRow .styleIcon {
    width: 50px;
  }
}

@media screen and (min-width: 0px) and (max-width: 576px) {
  header {
    padding-left: 10px;
    padding-right: 10px;
  }
  header .headerRow .logo {
    width: 60%;
    font-size: 25px;
  }
  header .headerRow .aboutBtn {
    width: 20%;
    padding-top: 7px;
    font-size: 16px;
  }
  header .headerRow .refreshIcon {
    width: 10%;
    padding-top: 7px;
    font-size: 16px;
  }
  header .headerRow .styleIcon {
    width: 10%;
    padding-top: 7px;
    font-size: 16px;
  }
}
/*# sourceMappingURL=header.css.map */