.newPost{
    margin-top: 80px;
    min-height: 100vh;
    p{
        font-size: 18px;
        font-weight: bold;
        padding: 0px;
    }
}

.postHeading {
    h1 {
        text-align: center;
        color: rgb(0, 0, 0);
        font-size: 30px;
        margin-bottom: 50px;
    }
}
.postTitle{
    input{
        margin-bottom: 20px;
    }
}

.postContentText{
    textarea{
        margin-bottom: 20px;  
    }
}

.postButtons{
    display: flex;
    justify-content: flex-end;
    button{
        width: 150px;
        height: 40px;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 5px;
        margin-left: 15px;
        font-size: 18px;
        a{
            text-decoration: none;
            color: rgb(0, 0, 0);
        }
    }
}

@media screen and (min-width: 0px) and (max-width: 576px) {
    .newPost{
      padding: 0px 25px;
    }
}
