/*Header section*/
header{
    background-color: rgb(51, 51, 51);
    p{
        font-size: 28px;
        color: rgb(255, 255, 255);
        margin: 0px;
        padding: 10px 0px;
    }
}

@media screen and (min-width: 0px) and (max-width: 576px) {
    header{
        p{
            text-align: center;
        }
    }  
}