
.cardBorder {
    margin-bottom: 10px;
    .card {
        margin: 0px auto;
        .userImage {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            padding: 15px;
            p {
                color: rgb(255, 255, 255);
                font-size: 20px;
                margin: 0px;
            }
        }
        .userData {
            padding: 10px;
            p {
                font-size: 14px;
                margin: 5px 0px;
                .iconMargin {
                    margin-right: 15px;
                }
            }
        }
    }
}


/*Media screen*/
@media screen and (min-width: 1400px) and (max-width: 6000px) {
    .cardBorder {
        width: 20%;
        .card {
            width: 90%;
            .userImage {
                height: 250px;
            }
        }
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .cardBorder {
        width: 20%;
        .card {
            width: 95%;
            .userImage {
                height: 250px;
            }
        }
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .cardBorder {
        width: 25%;
        .card {
            width: 95%;
            .userImage {
                height: 250px;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .cardBorder {
        width: 33%;
        .card {
            width: 95%;
            .userImage {
                height: 250px;
            }
        }
    }
}

@media screen and (min-width: 554px) and (max-width: 768px) {
    .cardBorder {
        width: 50%;
        .card {
            width: 85%;
            .userImage {
                height: 250px;
            }
        }
    }
}

@media screen and (min-width: 0px) and (max-width: 554px) {
    .cardBorder {
        width: 100%;
        .card {
            width: 230px;
            .userImage {
                height: 250px;
            }
        }
    }
}

